# Created by .ignore support plugin (hsz.mobi)
### C template
# Prerequisites
*.d
main
.idea
*.cbp
/lab2/zad1/dane
/lab2/zad1/output
*.tar.gz

CMakeFiles
Makefile
CMakeCache.txt
mainShared
mainStatic
tmp.txt
/lab1/zad2/main
*.cmake
Testing
mainDyn
mainDyn-O
mainDyn-O1
mainDyn-O2
mainDyn-O3
mainDyn-Os
mainShared-O
mainShared-O1
mainShared-O2
mainShared-O3
mainShared-Os
mainStatic-O
mainStatic-O1
mainStatic-O2
mainStatic-O3
mainStatic-Os

cmake-build-debug/
# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
