# Created by .ignore support plugin (hsz.mobi)
### C template
# Prerequisites
*.d
main
.idea

main2
*.cbp
/lab2/zad1/dane
/lab2/zad1/output
/lab2/zad1/danecp
/lab3/zad2/tester
/lab3/zad3/tester
/lab3/zad2/archiwum
/lab3/zad3/archiwum
/lab2/zad1/outputcp
/lab10
*.tar.gz
monitor
CMakeFiles
Makefile
!kol2/**/Makefile
CMakeCache.txt
mainShared
mainStatic
tmp.txt
/lab1/zad2/main
*.cmake
Testing
mainDyn
mainDyn-O
mainDyn-O1
mainDyn-O2
mainDyn-O3
mainDyn-Os
mainShared-O
mainShared-O1
mainShared-O2
mainShared-O3
mainShared-Os
mainStatic-O
mainStatic-O1
mainStatic-O2
mainStatic-O3
mainStatic-Os

cmake-build-debug/
# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/lab4/zad2/archiwum/
/lab4/zad3/catcher
/lab4/zad3/sender
/lab4/zad3b/catcher
/lab4/zad3b/sender
/lab4/zad3a/catcher
/lab4/zad3a/sender
/lab5/zad2/master
/lab5/zad2/slave
/lab5/zad2/potok
/lab6/zad1/client
/lab6/zad1/server
/lab6/zad2/client
/lab6/zad2/server
/lab7/zad1/loader
/lab7/zad1/trucker
/lab7/zad2/loader
/lab7/zad2/trucker
/kol2/zad9/receiver
/kol2/zad9/sender
/kol2/zad8/receiver
/kol2/zad8/sender
/kol2/zad2/receiver
/kol2/zad2/sender
/kol2/zad3/common.txt
/kol2/zad11/receiver
/kol2/zad11/sender
/kol2/zad12/receiver
/kol2/zad12/sender
